@{
    ViewData["Title"] = "All About iDash";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
	<strong>The iDash Dashboard</strong>
     <br>
	"A useful dashboard should reflect values that align with our organization, business, and team goals, be agile and adaptable, respond quickly to changes, and contain information that is actionable and meaningful." <br>
     <br>
	This is code for a "proof-of-concept" / "talking to dashboard" to discuss ideas for an "IT ALL DASHBOARD" - displaying various metrics for a team.<br>
     <br>
	To learn more about this project, check out the details here: <a href="http://shorty/iDash">http://shorty/iDash</a></br>
     <br>
	<i>"A useful Dashboard should reflect values that align with our organization, business, and team goals, be agile and adaptable, respond quickly to changes, and contain information that is actionable and meaningful."</i> <br>
	 <br>
</p>

<img src="~/images/iDashImg.png" alt="iDash Logo" height="220" width="220"/>
<img src="~/images/qapow.png" alt="iDash Logo" height="220" width="220"/>