@{
    ViewData["Title"] = "iDash: Contact Us";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<br>

<address>
    <strong>IT Team QAPOW (Confluence): </strong> <a href="https://confluence/display/QAPOW/%5BQAPOW%5D+Contact+Us">https://confluence/display/QAPOW/%5BQAPOW%5D+Contact+Us</a>
</address>

<address>
    <strong>QAPOW Email:</strong> <a href="mailto:ITTeamQAPOW@QuickenLoans.com">ITTeamQAPOW@QuickenLoans.com</a>
</address>

<img src="~/images/iDashImg.png" alt="iDash Logo" height="220" width="220"/>
<img src="~/images/qapow.png" alt="iDash Logo" height="220" width="220"/>